{% extends 'page.twig' %}

{% block scripts %}
    <script src="{{assets}}/js/util.js"></script>
    <script type="text/javascript" src="/csc3123/assets/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea"
         });
    </script>
{% endblock scripts %}

{% block onload %}
    $('#ptab').on('click', function(e){
        var x = $(e.target)	
    if (x.hasClass('delb'))
	{
	    e.preventDefault();
	    e.stopPropagation();
	    bootbox.confirm('Are you sure you you want to delete this log?', function(r){
	        if (r)
		{ // user picked OK
		    var tr = $(x).parent().parent()
		    $.post('{{base}}/ajax.php', {
			    op :'delbean',
			    'bean' : 'page',
			    id : tr.data('id')
			},
			function(data){
			    tr.css('background-color', 'yellow').fadeOut(1500, function(){ tr.remove() })
			}
		    )
		}
	    })
	}
    $('#npage').on('show.bs.modal', function(e){
	$('#npform input,select').val('')
    })
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1>Logs</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <table class="table table-striped table-hover" id="ptab">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Body</th>
                        <th>Last Edit</th>
                        <th>Attachments?</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in siteinfo.logs %}
                    <tr>
                    <td><a></a> {{l.title}}</a></td>
                    <td>{{l.body|raw}}</td>
                    <td>{{l.lastedit}}</td>
                    <td>{{l.attachment}}</td>
                    <td><i class="editb fa fa-edit"></i></td>
                    <td><i class="delb fa fa-trash-o"></i></td>
                    </tr>
                {% else %}
                    <tr><td colspan="4">No Logs Found</td></tr>
                {% endfor %}
                </tbody>
            </table>
            <p><button class="btn btn-primary" data-toggle="modal" data-target="#new-entry">Add Page</button></p>
        </div>
    </div>
    <div class="modal fade" id="new-entry">
	<div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>                    </button>
		    <h4 class="modal-title">New Log Entry</h4>
		</div>
		<form action="{{base}}/newentry" method="POST" id="form">
		    <div class="modal-body">
			    <div class="form-group">
				<label for="npname">Name</label>
				<input type="text" class="form-control" id="npname" placeholder="page name" required="required"/>
			    </div>
			    <div class="form-group">
				<label for="npkind">Kind</label>
				<select id="npkind" class="form-control" required="required">
				    <option value="">-- Pick a Type --</option>
				    <option value="1">Object</option>
				    <option value="2">Template</option>
				</select>
			    </div>
			    <div class="form-group">
				<label for="npsrc">Name</label>
				<input type="text" class="form-control" id="npsrc" placeholder="page.twig or class name" required="required"/>
			    </div>
			    <div class="checkbox">
				<label><input type="checkbox" value="1" id="npadmin"/> Needs Admin</label>
			    </div>
			    <div class="checkbox">
				<label><input type="checkbox" value="1" id="npactive"/> Active</label>
			    </div>
		    </div>
		    <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Add</button>
		    </div>
            
		</form>
	    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock main %}